<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hometask 23-24</title>
	<link rel="stylesheet" href="css/style.css">
	<script data-main="js/app.js" src="js/require.js"></script>
</head>
<body>

<h1>MY TODO LIST:</h1>

<script type='text/template' id='wrapper__template'>
	<div class="wrapper">
		<ul class="item__list"></ul>
		<div class="edits">
			<input type="text" class="edit__value">
			<button class="edit__btn">Edit</button>
		</div>
		<div class="controlls">
			<input type="text" class="item__value">
			<button class="item__add">Add</button>
		</div>
	</div>
</script>

<script type='text/template' id='list__template'>
	<% for (var i = 0; i < data.length; i++) { %>
		<li><span data-value="<%= data[i] %>" class="item__delete">&#10003;</span> <span class="li__item"><%= data[i] %></span> </li>
	<% }; %>
</script>


</body>
</html>